# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Tusker.Grotesk
NeueMontreal-Light.otf
NeueMontreal-LightItalic.otf
NeueMontreal-Medium.otf
NeueMontreal-MediumItalic.otf
NeueMontreal-Bold.otf
NeueMontreal-BoldItalic.otf
TuskerGrotesk-2500Medium.ttf
TuskerGrotesk-2600Semibold.ttf
TuskerGrotesk-2700Bold.ttf
TuskerGrotesk-2800Super.ttf
TuskerGrotesk-4500Medium.ttf
TuskerGrotesk-4600Semibold.ttf
TuskerGrotesk-4700Bold.ttf
TuskerGrotesk-4800Super.ttf
TuskerGrotesk-6500Medium.ttf
TuskerGrotesk-6600Semibold.ttf
TuskerGrotesk-6700Bold.ttf
TuskerGrotesk-6800Super.ttf
NeueMontreal.pdf